* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}

.Content {
    display: grid;
    grid-area: 2/3/4/5;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    width: 440px;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.btn-warning {
    display: grid;
    grid-area: 2/5/2/5;
    width: 50%;
    height: 50%;
}


.btn-dark {
    display: grid;
    grid-area: 3/5/3/5;
    width: 50%;
    height: 50%;
    margin-top: 30px;
}